@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {

  /* --- FONTS --- */
  --font-roboto: var(--font-roboto), ui-sans-serif, system-ui, sans-serif;

  --font-mono: var(--font-mono), ui-monospace, monospace;

  /* Ánh xạ biến CSS vào class Tailwind */
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  /* Đăng ký màu destructive cho Tailwind v4 */
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);

  /* Mã màu #1C1E21 */
  --primary: 38 95% 59%; 
  --primary-foreground: 24 10% 10%;;

  /* Màu Destructive (Đỏ báo lỗi) */
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 100%;

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --radius: 0.625rem;

  --muted: oklch(0.962 0 0);
  --muted-foreground: oklch(0.556 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  
  --primary: 38 95% 59%;
  --primary-foreground: 24 10% 10%;

  --destructive: 0 62% 30%;
  --destructive-foreground: 0 0% 100%;

  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --border: oklch(1 0 0 / 10%);

  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
}

/* Custom pagination swipper */
.swiper-pagination-bullet-active {
  background-color: hsl(var(--primary)) !important; 
  opacity: 1 !important;
}

.swiper-pagination-bullet {
  background-color: #ffffff; 
  opacity: 0.6; 
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3));
}

.swiper-pagination-bullet:hover {
  opacity: 1;
}

.dark .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  background-color: oklch(1 0 0 / 50%);
}

/* Placeholder cho Tiptap */
.tiptap p.is-editor-empty:first-child::before {
  color: #9ca3af; /* text-gray-400 */
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

@layer base {
  body {
    @apply font-roboto;
  }
}